mixin header(data)
    header#header.header
        .container
            .row
                .col-md-6
                    h1= data.title
                    p #{data.undertitle}
                        span= data.desc
                    span= data.name
                    span= data.email
                    a(href="#")= data.button